@import '~@angular/material/theming';

@include mat-core();
$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

$yellow: #e0a038;
$purple: #622678;
$purple-light: #805191;
$blue: #26488c;
$black: #5b5b5e;

.padding-2 {
  padding: 2rem;
}

.margin-p {
  margin: 1.5rem 0;
}

.margin-h {
  margin-right: 3rem;
}

.margin-2 {
  margin: 2rem 0;
}

.padding-left {
  padding-left: 1rem;
}

.padding-right{
  padding-right: 1rem;
}

.background {
  &_purple {
    color: white;
    background-color: $purple;
  }
  &_light_purple {
    background-color: $purple-light;
    color: white;
  }
  &_light_grey {
    background-color: #fafafa;
  }
  &_grey {
    background-color: #f3f3f3;
  }
}

.text {
  &__blue {
    color: $blue;
  }
  &__black {
    color: $black;
  }
  &__purple {
    color: $purple;
  }
  &__uppercase {
    text-transform: uppercase;
  }
  &__align_center {
    text-align: center;
  }
  &__display_1 {
    font-size: 2.9rem;
  }
  &__display_2 {
    font-size: 2.2rem;
  }
  &__display_3 {
    font-size: 1.8rem;
  }
  &__display_4 {
    font-size: 1.4rem;
  }
  &__tiny {
    font-size: 1.2rem;
    font-weight: 300;

  }
}

.section {
  max-width: 92rem;
  width: 100%;
  &_banner {
    width: 100%;
    max-width: 100%;
    background-image: url("../../assets/banner_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 919px) {
      background-position: -300px;
    }
    @media (min-width: 920px) {
      background-position: center;
    }

    &_content {
      max-width: 92rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
      width: 100%;
      .info {
        color: white;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        .mat-raised-button {
          color: white;
          background-color: #3d87af;
        }
        p {
          margin: 0;
        }
        &__link {
          font-size: 1.4rem;
          font-weight: 100;
          a {
            color: white;
          }
        }
        &__currency {
          color: $yellow;
          font-size: 2.9rem;
          &__font_large {
            font-size: 3.7rem;
          }
        }
        &__strong {
          color: $yellow;
          font-size: 2.4rem;
          font-weight: bold;
        }
      }
    }
  }
  &_icons {
    .sprite {
      height: 71px;
      width: 71px;
      margin: 1rem auto;
    }
    .mat-raised-button {
      color: white;
      background-color: $purple;
    }
  }
  &_next_draw {
    width: 100%;
    max-width: 100%;
    .mat-raised-button {
      color: white;
      background-color: $purple;
    }
    .sprite {
      height: 68px;
      width: 89px;
      margin-right: 2rem;
      padding-top: 0.5rem;
    }
    .left {
      max-width: 660px;
    }
  }
  &_winners {
    .sprite_winner {
      height: 42px;
      padding-top: 0.5rem;
      width: 54px;
    }
    .sprite_draw {
      height: 34px;
      padding-top: 0.5rem;
      width: 46px;
    }
    .sprite_draw_ok {
      height: 38px;
      padding-top: 0.5rem;
      width: 52px;
      padding-right: 6px;
    }
    .sprite_draw_ok .sprite_draw{

    }
  }
  &__margin {
    margin: 2rem 0;
  }
}

.sprite {
  background-image: url("../../assets/sprite.png");
  background-repeat: no-repeat;
  &_icon_1 {
    background-position: 0 0;
  }
  &_icon_2 {
    background-position: 0 -71px;
  }
  &_icon_3 {
    background-position: 5px -142px;
  }
  &_next_draw {
    background-position: 0 -215px;
  }
  &_draw_ok {
    background-position: 0 -282px;
  }
  &_draw {
    background-position: 0 -368px;
  }
  &_winner {
    background-position: 0 -325px;
  }
  &_logo {
    background-position: 0 -402px;
  }
}