<IfModule mod_rewrite.c>
  Options -MultiViews

  RewriteEngine On
  #RewriteBase /test/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [QSA,L]
  
</IfModule>

#FallbackResource /index.php