
.top{
	min-height: 250px;

}


.navbar {
    margin-bottom: 0px; */
}

.navbar-default{
    background-color: #FFFFFF;
}

.banner_top{
	background: url('../img/banner-1.png') no-repeat;
	background-size:cover;
	background-position: center;
}



.botao{
	min-height: 250px;
	border: 1px solid;
}

.icon-se {

	background: url('../img/sprite.png') top left no-repeat;

}

.icon-se-click{
	background-position: 0px 0px;
    min-height: 70px;
    min-width: 80px;
    width: 80px;
    height: 70px;
    margin:auto;
}


.icon-se-logo{
    background-position: 0px -403px;
    width: 238px;
    height: 22px;
    margin-top: 10px;
}
.icon-se-plus{
	background-position: 0px -70px;
    min-height: 72px;
    min-width: 80px;
    width: 80px;
    height: 72px;
    margin:auto;
}

.icon-se-luck{
    background-position: 0px -142px;
    min-height: 72px;
    min-width: 80px;
    width: 80px;
    height: 72px;
    margin:auto;
}

.icon-se-date{
    float: left;
    background-position: 0px -213px;
    min-height: 69px;
    height: 69px;
    min-width: 90px;
    width: 90px;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 20px;
    color: #632574;
    font-weight: bold;
}

.icon-se-win{
    background-position: 0px -325px;
    min-height: 42px;
    min-width: 80px;
    width: 80px;
    height: 42px;
    margin: left;
    padding: 12px 12px 0px 7px;
    color: #632574;
    font-weight: bold;
    font-size: 16px;
}

.icon-se-sort-ok{
    background-position: 0px -282px;
    min-height: 42px;
    min-width: 80px;
    width: 80px;
    height: 42px;
    margin: left;
    padding: 12px 12px 0px 7px;
    color: #632574;
    font-weight: bold;
    font-size: 14px;
}

.icon-se-sort{
    background-position: 0px -368px;
    min-height: 35px;
    min-width: 80px;
    width: 80px;
    height: 35px;
    margin: left;
    padding: 12px 12px 0px 7px;
    color: #632574;
    font-weight: bold;
    font-size: 14px;
}


.cl1{
	color: #632574;
}

.cl2{
    color: #632574;
    font-weight: bold;
}

.cl3{
	font-size: 10px;
}


.cl4{
    color: #E2A236;
    font-weight: bold;
}

.cl5{
    color: #E2A236;
    font-weight: bold;
    font-size:  25px;
}

.cl6{
    color: #632574;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

.btn4{
	text-transform: uppercase;
    background-color: #632574;
    padding: 10px;
    border-radius: 5px;

}

.btn-action {
	text-transform: uppercase;
    color: #fff;
    background-color: #632677;
    border-color: #632677;
}


.btn-action:hover {
	text-transform: uppercase;
    color: #fff;
    background-color: #632677;
    border-color: #632677;
}


.bg-gray{
	background-color:#F3F3F3;
	min-height: 300px;
}

.bg-gray-low{
	background-color:#f7f7f7;
	min-height: 300px;
}

.pad_top_20{
    padding-top: 20px;
}
.mar_top_50{
	margin-top: 50px;
}


.mar_top_30{
    margin-top: 30px;
}

.anuncio{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 20px;
    color: #FFFFFF;
    float: left;
    line-height:unset;
}

.info{
    text-align: center;
}

.info small{
    font-size: 10px;
}

.info small a{
    color:#FFFFFF;
    text-decoration: underline;
}


.footer {
    bottom:0;
    background-color:#632677;
    margin-top: 20px;
    min-height: 80px;
    padding-left: 150px;
    padding-top: 20px;
    color:#FFFFFF;
    font-size: 10px;

}


.footer2 {
    bottom:0;
    background-color:#bf5be0;
    min-height: 80px;
    padding-top: 20px;
    color:#FFFFFF;
    font-size: 10px;
    text-align: center;
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #F8F8F8;
    color: #622678;
}

.navbar-default .navbar-nav>li>a{
    color: #622678;
}

@media (min-width: 768px) {

    .anuncio{
        margin-top: 50px;
        margin-left: 50px;
        font-size: 20px;
        color: #FFFFFF;
        float: left;
        line-height:unset;
    }
}


.modal-content{
        border-radius: 0px;
}