block vars

doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block head
      link(href='./assets/css/main.css' rel='stylesheet')
  body
    block content

    script(src="./assets/js/main.js")
    block scripts