/*
Author: Lucas Silva
Project: Cadastro Positivo Serasa
*/



body {
    color: #5b5b5f;
    padding-top: 75px;
    padding-bottom: 0rem;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
}


a {
    color: #632678;
}

a:hover, a:active {
    color: #532065;
}

a {
    color: #ccc;
}

a:hover {
    color: #ccc9c5;
}

b, strong {
    font-weight: 700;
}

h3 {
    color: #632678;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

section.bg-sorteios {
    background: #fafafa;
}

footer {
    margin: 50px 0;
    background: #632678;
    color: #fff;
    font-size: 80%;
    margin-bottom: 0;
}

footer > div:last-child {
    background-color: #825193;
}

footer {
    font-size: 10px;
}

footer div {
    padding: 5px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fffdf8;
}

div#ganhadores {
    padding-top: 50px;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #632678;
    border-color: #532065;
}

.btn-primary:hover {
    background-color: #532065;
    border-color: #532065;
}

.btn-success {
    color: #fff;
    background-color: #3d87af;
    border-color: #2c5f7b;
}

.btn-success:hover {
    background-color: #3c7fa5;
    border-color: #3c7fa5;
}



.navbar-light .navbar-nav .nav-link {
    color: #632678;
    font-size: 14px;
    padding: 10px;
}



.bg-light {
    background-color: #fff!important;
}

.header-banner h2{
    font-size: 1.6em;
}
.btn-serasa {
    color: #fff;
    background-color: #632678;
    text-transform: uppercase;
    padding: 14px;
    border-color: #632678;
    border-radius: 3px;
    font-weight: bold;
}
.btn-serasa:hover {
    color: #fff;
    background-color: #632678;
    border-color: #632678;
    opacity: .9;
}
.btn-serasa:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
background-color: #632678;
    border-color: #632678;
    box-shadow:none;
}

.btn-primary {
    color: #fff;
    background-color: #3d87af;
    border-color: #2c5f7b;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3c7fa5;
    border-color: #3c7fa5;
    opacity: .9;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c7fa5;
    border-color: #3c7fa5;
    box-shadow: 0 0 0 0.2rem #3c7fa5;
}


.btn-outline-serasa {
    color: #632678;
    text-transform: uppercase;
    border-color: #632678;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 5px;
}
.btn-outline-serasa:hover {
background-color: #fcf9ff;}

.btn-outline-serasa:hover {
    color: #632678;
    opacity: .8;
}
.btn-outline-serasa:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #632678;
    border-color: #632678;
    box-shadow:none;
}

.serasaconsumidor-icon {
    height: 72px;
    width: 72px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px 1px;
}

.cadastroposititvo-icon{
	height: 72px;
    width: 72px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -71px;
}

.sorteio-icon{
    height: 72px;
    width: 72px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -142px;
}

.calendario-icon {
    height: 68px;
    width: 88px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -214px;
    color: #632678;
    font-size: 24px;
    display: inline-block;
    padding: 19px 0px 0px 11px;
    margin-bottom: 20px;
}

.calendarioganhador-icon {
    height: 44px;
    width: 70px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -322px;
    display: inline-block;
    text-align: center;
    color: #632678;
    font-weight: 600;
    padding: 16px 16px 0px 0px;
    float: left;
}


.datasorteiospassados-icon {
    height: 38px;
    width: 51px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -708px;
    display: inline-block;
    color: #b192bb;
    text-indent: -6px;
}

.datasorteios-icon {
    height: 35px;
    width: 51px;
    background: url(../img/sprite.png);
    margin: auto;
    background-position: 0px -367px;
    display: inline-block;
    text-indent: -6px;
}


.navbar-brand {
    height: 23px;
    width: 237px;
    background: url(../img/sprite.png);
    margin-left: -15px;
    margin-top: -6px;
    background-position: 0px 23px;
}


.header-banner {
    background: url(../img/banner-1.png);
    width: 100%;
    color: #fff;
    background-position: center;
    padding: 50px 0;
    height: 418px;
    margin: 0px 0px 50px 0px;
}

.ganhadores {
    padding-left: 0;
    list-style-type:none;
}


.datasorteios {
    padding-left: 0;
    list-style: none;

}
.datasorteios li{
    float: left;
    width: 60px;
    height: 52px;
    text-align: center;
    line-height: 38px;
    margin-bottom: 5px;
    color: #632678;

}

.background-gray {
    background-color: #f3f3f3;
}

.background-gray-light {
    background-color: #fafafa;
}



.header-banner b, .header-banner strong {
    font-weight: bolder;
    color: #e2a235;
    font-size: 110%;
    display: inline-block;
}

.marketing b, .marketing strong {
    font-weight: bolder;
    color: #632678;
    font-size: 110%;
}

.size-20 {
    font-size: 20px;
    font-weight: 400;
}

.size-12 {
    font-size: 12px;
}

.valor {
    font-size: 200%;
    font-weight: lighter;
}

.text-header a:not(.btn) {
    color: #ccc;
    font-size: 120%;
}

.bloco-participar-icon {
    display: block;
    margin: 30px auto;
}

.content-2 .text-1 strong {
    font-size: 130%;
    display: inline-block;
}

.bg-sorteios  strong, .items p b, .items p strong {
    color: #632678;
}


.ganhadores p b {

    margin-bottom: 5px;
    color: #25488e;
}
.ganhadores li {
    float: left;
    margin-right: 40px;
}


.navbar-right {
    float: right;

}
.menu-base{
	background: #fff;
}
.nav-bar{max-width: 1140px;}

.bg-light {
    background-color: #fff!important;
    max-width: 1140px !important;
    margin: auto;
    margin-top: 7px;
}

.navbar-light .navbar-nav .nav-link:hover{
	background-color: #fcf9ff;
}

.navbar-light .navbar-nav .nav-link{
	padding-top: 13px;
    padding-bottom: 15px;
}

.zoom{zoom:1.2;}

.bg-sorteios h4 {
    zoom: 1.15;
    padding-right: 45px;
}
.bg-sorteios strong {
    font-size: 30px;
}

.bg-sorteios > div {
    background-color: #fafafa;
    max-width: 1090px;
    margin: auto;
    padding-top: 50px;
}

.participe1{background-color: #fafafa;
	padding: 50px 15px;
	z-index: 99;
}

.participe2{
	padding: 50px 15px;
	z-index: 99;
}

.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {

        display: block!important;

    }}


@media (max-width: 767px){

    .navbar-brand {
        margin-left: 65px;
        margin-top:10px; }

    .navbar-nav {
        float: left;
    }
    .participe1{background-color: #fafafa;

        padding: 50px 15px 0px 50px;
        z-index: 99;
    }
    button.navbar-toggler {
        margin-top: -30px;
    }
    .participe2{background-color: #f3f3f3;

        padding: 50px 15px 0px 50px;
        z-index: 99;
    }
    .header-banner {

        background-position: left center;

    }
}

