html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #825193;
  color: #FAFAFA;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.carousel-left { width: 75%; float: left; }
.purple{
	background-color: #632678;
}
.text-left {
	float: left; width: 25%;
}
.navbar-static-top {
  margin-bottom: 0px;
  background-color: white;
}
.navbar-default .navbar-nav>li>a {
    color: #632678;
}
.btn-purple {
    color: #632678;
    background-color: #fff;
    border-color: #632678;
}
.row .gray {
	background-color: #fafafa;
}
.sprite {
	background: url(sprite.png) 0 0 no-repeat;
	border: none;
}
#monitor-cursor {
	width: 71px;
	height: 71px;
}
#square-plus {
	width: 71px;
	height: 71px;
	background-position: 0 -71px;
}
#clover {
	width: 48px;
	height: 70px;
	background-position: 0 -142px;
}
#calendar{
	width: 88px;
	height: 68px;
	background-position: 0 -214px;
}
#mini-calendar-check{
	width: 51px;
	height: 39px;
	background-position: 0 -282px;
}
#orange-calendar{
	width: 54px;
	height: 42px;
	background-position: 0 -325px;
}
#mini-calendar{
	width: 45px;
	height: 35px;
	background-position: 0 -367px;
}
#serasa {
	width: 237px;
	height: 24px;
	background-position: 0 -402px;
}