
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SerasaConsimidor</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet">

	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

 <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><div class="sprite serasa img-responsive"></div></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#Como-Participar">Como participar</a></li>
            <li><a href="#Premios-Sorteios">Prêmios e sorteios</a></li>
            <li><a href="#Ganhadores">Ganhadores</a></li>
						<li><a href="#Regulamento">Regulamento</a></li>
						<li><a href="#" role="button" class="btn btn-purple-header btn-xs" href="#"><b>PARTICIPE JÁ, É GRÁTIS!</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container-fluid">

      <div class="row">
		<div class="col-xs-12 no-padding">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
				  <img src="img/banner-1.png">
				  <div class="carousel-caption text-left">
						<span>O SerasaConsumidor<br> ajuda a <span class="banner-lg-text color-orange">pagar sua dívida!</span></span><br>
						<span>Abra seu Cadastro Positivo e concorra a</span><br>
						<span class="banner-money color-orange">R$ 5.000,00</span>
						<a role="button" class="btn btn-primary btn-banner"> PARTICIPE JÁ, É GRÁTIS! </a>
						<p class="banner-subtitle">Saiba o que é o <a href="#" data-toggle="modal" data-target="#cadastro-positivo" class="banner-link">Cadastro Positivo</a></p>
					</div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	  <div class="row text-center">
			<div class="col-xs-12"><h3 class="sub-banner">Quer saber como abrir seu Cadastro Positivo e ainda concorrer a prêmios?</h3></div>
			<div class="col-sm-4 col-xs-12">
				<div class="sprite monitor-cursor"></div>
					1. Cadastre-se no<br>SERASACONSUMIDOR
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="sprite square-plus"></div>
								2. Abra o seu<br>CADASTRO POSITIVO 
				</div>
			<div class="col-sm-4 col-xs-12">
				<div class="clover sprite"></div>
				3. Receba seu número e data<br> do sorteio no seu e-mail<br>
				(Cada COF participa de apenas um sorteio)
			</div>
			<div class="col-xs-12"><button class="btn btn-purple btn-lg">PARTICIPE JÁ, É GRÁTIS!</button></div>
		</div>
	<div class="row gray">
		<div class="col-sm-8 col-xs-12">
			<h3>Abrindo seu Cadastro Positivo você pode ganhar até R$ 5.000!</h3>
			<p>Cada CPF participa de apenas um sorteio. Assim que seu Cadastro Positivo for concluído, você vai receber por e-mail o seu cúmero da sorte e a data do sorteio que você vai participar. Depois é só torcer para ser o ganhador.</p>
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<div class="inline"><span class="calendar sprite">14/09</span>próximo sorteio</div>
			<br>
			<a role="button" class="btn btn-purple btn-lg">PARTICIPE JÁ, É GRÁTIS!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<h2>Ganhadores</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="inline">
						<div class="calendar-orange sprite">17/08</div>
						<div class="block-inline">
							São Paulo - SP<br/>
							Número sorteado: 053484058978-9
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h4>Datas dos sorteios</h4>
			<div class="row inline">
					<div class="mini-calendar-check sprite">17/08</div>
					<div class="mini-calendar sprite">17/08</div>
			</div>
		</div>
	</div>
	</div> <!-- /container -->
	<footer class="footer">
		<div class="container-fluid">
			<div class="row purple text-center">
				<div class="col-sm-6">
					2015 Serasa Experian. Todos os direitos reservados.<br/>
					SERASA S. A. com sede na Alameda dos Quinimuras, 187, Planalto Paulista, CEP 04068-900, São Paulo, SP<br/>
					Inscrita no CNPJ/MF n° 62.173.620/0001-80, IE Isenta. <a href="www.serasaexperian.com.br">www.serasaexperian.com.br</a>
				</div>
				<div class="col-sm-6">
					O SerasaConsumidor se comunica diretamente com os ganhadores da promoção e nunca solicita nenhum pagamento para resgate de prêmio. 
					Em caso de dúvida, entre em contato com nossa Central de Atentimento Cadastro Positivo 0800 776 6606
				</div>
			</div>
			<div class="row light-purple text-center">
				<div class="col-sm-12">
					Certificado de autorização da Caixa 4-2936/2016. Promoção válida 08/11/16 à 27/03/17.
					Cada CPF concorrerá somente a um sorteio no valor de R$5.000 durante a promoção.
					Participação vinculada a abertura do Cadastro Positivo nos sites e agências Serasa. Sorteios via extração da Loteria Federal.
					Consulte as datas de sorteios, as condições de participação e o regulamento completos no site <a href="www.serasaconsumidor.com.br/sorteiocadastropositivo">www.serasaconsumidor.com.br/sorteiocadastropositivo</a>
				</div>
			</div>
		</div>
	</footer>

<div class="modal fade" id="cadastro-positivo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header purple">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="imf/fechar.png"></span></button>
        <h4 class="modal-title serasa-modal-title">Cadastro Positivo</h4>
      </div>
      <div class="modal-body">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/_1CrH9F7byE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
